@using WebMVC.Services
@using WebMVC.ViewModels
@{
    ViewData["Title"] = "Create Event";
}

<h2>NiceJob!! Event Created Successfully!!</h2>
<form asp-controller="Catalog" asp-action="Index" method="get">
    <input type="submit" value="Go Back to Home Page"/>
    
</form>

